<ul>
<% @tomatoes.each do |tomato| %>
	<li><%= tomato.name %> <%= link_to 'Delete', 
	      { :controller => 'admin', :action => 'delete_tomato', :id => tomato.id },
	      { :remote => true} %>
	</li>
<% end %>
</ul>