<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1><br>
				Click on each of the tabs above to view our great selection of flowers. <br><br>
			</span>
		</div>
	</div>
</div>
