<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1>
					<p>
						<ul>
							<% @misc_flowers.each do |misc| %>
								<li><%= misc.name %></li>
							<% end %>
							<br><br>
							<li>Ageratum, Hawaii Regal</li>
							<li>Alternathera Purple Knight</li>
							<li>Alys, Easter Basket Mix</li>
							<li>Alys, Easter Bonnet Deep Pink</li>
							<li>Alys, Easter Bonnet Deep Rose</li>
							<li>Alys, Easter Bonnet Lavender</li>
							<li>Alys, Easter Bonnet White</li>
							<li>Alys, Wonderland Deep Purple</li>
							<li>Amaranthus, Early Splendor</li>
							<li>Amaranthus, Tri-Color Splendor</li>
							<li>Aster, Milady</li>
							<li>Castor Beans Bright Red Ricinus</li>
							<li>Castor Beans Mix Ricinus</li>
							<li>Chrysanthemum, Snow Land</li>
							<li>Cosmos, Limara Lemon</li>
							<li>Cosmos, Orange Cosmic</li>
							<li>Cosmos, Cutesy Mix</li>
							<li>Dahlia, Fireworks</li>
							<li>Dahlia, Figaro Mix Imp</li>
							<li>Dahlia, Figaro Red</li>
							<li>Dahlia, Figaro Violet</li>
							<li>Dahlia, Harlequin Mix</li>
							<li>Dahlia, Phantom (Sub?)</li>
							<li>Dianthus, Corona Cherry Magic </li>
							<li>Dianthus, Floral Lace Crimson </li>
							<li>Dianthus, Floral Lace Mix</li>
							<li>Dianthus, Floral Lace Rose</li>
							<li>Dianthus, Floral Lace Violet</li>
							<li>Dianthus, Parfait Raspberry</li>
							<li>Dianthus, Supra Purple</li>
							<li>Dusty Miller, Silverdust</li>
							<li>Flowering Cabbage,Mix</li>
							<li>Flowering Kale, Mix</li>
							<li>Gazania Daisy Daybreak Orange</li>
							<li>Gazania Daisy Daybreak Pink  </li>
							<li>Gazania Daisy Tiger Mix</li>
							<li>Gazania Daisy, Daybreak Mix   </li>
							<li>Grass, Millet (ornamental)</li>
							<li>Helichrysum Bikini Mix 12"</li>
							<li>Hypoestes, Splash Select Red</li>
							<li>Hypoestes, Splash Select Rose</li>
							<li>Hypoestes, Splash Select White</li>
							<li>Impatiens, Jungle Gold</li>
							<li>Impatiens, SE Blue Pearl XP</li>
							<li>Impatiens, SE Bright Orange</li>
							<li>Impatiens, SE Coral XP</li>
							<li>Impatiens, SE Deep Pink XP</li>
							<li>Impatiens, SE Formula Mix</li>
							<li>Impatiens, SE Lipstick</li>
							<li>Impatiens, SE Melon XP</li>
							<li>Impatiens, SE Red XP</li>
							<li>Impatiens, SE Violet XP</li>
							<li>Impatiens, SE White XP</li>
							<li>Impatiens, Showtopper Cherry Flair</li>
							<li>Impatiens, Stardust Mix</li>
							<li>Lobelia, Cambridge Blue</li>
							<li>Lobelia, Crystal Palace</li>
							<li>Lobelia, Palace w/blue eye</li>
							<li>Lobelia, Palace White</li>
							<li>Lobelia, Regatta Midnight Blue</li>
							<li>Lobelia, Regatta Mix</li>
							<li>Moonflower Ipomoea White</li>
							<li>Morning Glory, Heavenly Blue</li>
							<li>Morning Glory, Scarlet O'Hara</li>
							<li>Nasturtium, Jewel Mix</li>
							<li>Nicotiana, Starmaker Appleblossom</li>
							<li>Nicotiana, Starmaker Mix</li>
							<li>Nicotiana, Starmaker Red </li>
							<li>Nicotiana, Starmaker White</li>
							<li>Nicotiana, Perfume Deep Purple</li>
							<li>Pansy, Atlas Raspberry</li>
							<li>Pansy, Dynamite Mix Blotch</li>
							<li>Pansy, Dynamite White</li>
							<li>Pansy, Imperial Silver Blue</li>
							<li>Pansy, Majestic Giant Mix II</li>
							<li>Pansy, Matrix Autumn Blaze</li>
							<li>Pansy, Supreme Super Blues</li>
							<li>Pansy, Scaredy Cat</li>
							<li>Pansy, Supreme Clear Mix</li>
							<li>Pansy, Supreme Yellow</li>
							<li>Pansy, Ultima Morpho</li>
							<li>Pepper, Chilly Chili</li>
							<li>Pepper, Black Pearl</li>
							<li>Phlox, 21st Century</li>
							<li>Port, Margarita Lemon</li>
							<li>Port, Peppermint</li>
							<li>Port, Sundial Mix</li>
							<li>Port, Sundial Scarlet</li>
							<li>Salvia, Coccinea Lady in Red</li>
							<li>Salvia, Empire Mix II</li>
							<li>Salvia, Red Hot Sally</li>
							<li>Salvia, Victoria Blue</li>
							<li>Snap, Floral Carpet Mix</li>
							<li>Snap, Madam Butterfly</li>
							<li>Snap, Rocket Mix</li>
							<li>Snap, Speedy Sonnet Crimson</li>
							<li>Snap, Speedy Sonnet Mix</li>
							<li>Snap, Speedy Sonnet Rose</li>
							<li>Snap, Speedy Sonnet Yellow</li>
							<li>Snap, Twinny Peach</li>
							<li>Statice, Fortress Mix</li>
							<li>Sunflower Choco Sun 10-12"</li>
							<li>Sunflower, Ballad  23-30"</li>
							<li>Sunflower, Mammoth 72"</li>
							<li>Sunflower Pacina Cola 12-16"</li>
							<li>Sweet Pea, Incense Mix</li>
							<li>Thunbergia, Susie Mix</li>
							<li>Verbena, Imagination</li>
							<li>Verbena, Peaches 'N' Cream</li>
							<li>Verbena, Quartz Purple XP</li>
							<li>Verbena, Quartz Scarlet XP</li>
							<li>Verbena, Quartz XP Mix</li>
							<li>Verbena, Quartz Waterfall Mix</li>
							<li>Vinca, Cooler Coconut White</li>
							<li>Vinca, Cooler Grape</li>
							<li>Vinca, Cooler Hot Rose</li>
							<li>Vinca, Cooler Mix</li>
							<li>Vinca, Cooler Peppermint</li>
							<li>Vinca, Cooler Raspberry</li>
							<li>Vinca, First Kiss Blueberry</li>
							<li>Vinca, Pacifica Apricot</li>
							<li>Vinca, Pacifica Icy Pink</li>
							<li>Vinca, Pacifica Really Red</li>
							<li>Zinnia, Classic Golden Orange</li>
							<li>Zinnia, Magellan</li>
							<li>Zinnia, Profusion Cherry</li>
							<li>Zinnia, Profusion Mix</li>
							<li>Zinnia, Profusion Orange</li>
							<li>Zinnia, Short Stuff</li>
							<li>Zinnia, State Fair</li>
							<li>Zinnia, Distance Mix</li>
						</ul>
					</p>
			</span>
		</div>
	</div>
</div>