<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					<h1 class="newsHead"><%= @title %></h1>
						<p>
							<ul>
								<li>Sweet Pea, Incense Mix</li>
								<li>Thunbergia, Susie Mix</li>
								<li>Verbena, Imagination</li>
								<li>Verbena, Peaches 'N' Cream</li>
								<li>Verbena, Quartz Purple XP</li>
								<li>Verbena, Quartz Scarlet XP</li>
								<li>Verbena, Quartz XP Mix</li>
								<li>Verbena, Quartz Waterfall Mix</li>
								<li>Vinca, Cooler Coconut White</li>
								<li>Vinca, Cooler Grape</li>
								<li>Vinca, Cooler Hot Rose</li>
								<li>Vinca, Cooler Mix</li>
								<li>Vinca, Cooler Peppermint</li>
								<li>Vinca, Cooler Raspberry</li>
								<li>Vinca, First Kiss Blueberry</li>
								<li>Vinca, Pacifica Apricot</li>
								<li>Vinca, Pacifica Icy Pink</li>
								<li>Vinca, Pacifica Really Red</li>
								<li>Zinnia, Classic Golden Orange</li>
								<li>Zinnia, Magellan</li>
								<li>Zinnia, Profusion Cherry</li>
								<li>Zinnia, Profusion Mix</li>
								<li>Zinnia, Profusion Orange</li>
								<li>Zinnia, Short Stuff</li>
								<li>Zinnia, State Fair</li>
								<li>Zinnia, Distance Mix</li>
							</ul>
						</p>
				</span>
			</div>
		</div>
	</div>
</div>