<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1>
					<p>
						<ul>
							<% @new_flowers.each do |new_flower| %>
								<li><%= new_flower.name %></li>
							<% end %>
							<br><br>
							<li>Begonia Bada Bing Mix, Rose, Rose Bicol</li>
							<li>Picobella Mix</li>
							<li>Wave Purple Improved</li>
							<li>Wave Baby Duck Yellow</li>
							<li>Marigold Taishan Mix</li>
							<li>Flowering Kale Chidori Red</li>
							<li>Rudbeckia Becky</li>
							<li>Verbena Quartz Burgundy/eye</li>
							<li>Dianthus/Sweet William new variety</li>
						</ul>
					</p>
			</span>
		</div>
	</div>
</div>