<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					<h1 class="newsHead"><%= @title %></h1>
						<p>
							<ul>
								<li>Daddy, Blue</li>
								<li>Daddy, Peppermint</li>
								<li>Daddy, Sugar</li>
								<li>Dreams Midnight</li>
								<li>Dreams Red</li>
								<li>Dreams Wild Rose Mix</li>
								<li>Frost Blue</li>
								<li>Frost Cherry</li>
								<li>Madness Burgundy</li>
								<li>Madness Pink</li>
								<li>Madness Plum</li>
								<li>Madness Red</li>
								<li>Madness Royal </li>
								<li>Madness Total Mix</li>
								<li>Madness White</li>
								<li>Prism Sunshine</li>
								<li>Sophista Lime Bicolor</li>
								<li>Super Cascade Blue</li>
								<li>Super Cascade Pink</li>
								<li>Super Cascade Red</li>
								<li>Super Cascade Salmon</li>
								<li>Super Cascade White</li>
								<li>Ultra Blue Star</li>
								<li>Ultra Burgundy</li>
								<li>Ultra Mix</li>
								<li>Ultra Pink</li>
								<li>Ultra Red Star</li>
								<li>Ultra Sky Blue</li>
								<li>Ultra White</li>
								<li>Wave Easy Blue</li>
								<li>Wave Easy Burgundy Star</li>
								<li>Wave Easy Pink</li>
								<li>Wave Easy Red</li>
								<li>Wave Easy Rosy Dawn</li>
								<li>Wave Easy White</li>
								<li>Wave Purple</li>
								<li>Wave Baby Duck Yellow</li>
								<li>Ball Double Mix</li>
								<li>Double Cascade Blue</li>
								<li>Double Cascade Burgundy</li>
								<li>Double Cascade Pink</li>
								<li>Pirouette Purple</li>
								<li>Pirouette Rose</li>
								<li>Sonata White</li>
							</ul>
						</p>
				</span>
			</div>
		</div>
	</div>
</div>

