<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
<h1 class="newsHead">2010 Season Hours:</h1><br>
We are currently growing for the 2010 season.<br><br>
<b>Opening date: To Be Announced.</b><br><br><br>
<h1 class="newsHead">Location:</h1><br>
3910 S. Redwood Road<br>
Salt Lake City, UT 84123<br>
Phone: 801-967-6000<br>
&nbsp;<br>
				</span>
			</div>
		</div>
	</div>
</div>
