<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
          <h1 class="newsHead">IT JUST KEEPS GETTING BETTER!  EVERYTHING ON CLEARANCE!!</h1><br>
		  <h1 class="newsHead">Hours</h1>
		  <div class="newsBody">
		    <span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
                  April hours mon-sat 9am - 6pm, closed Sun<br>
                  May and June hours Mon-Fri 9am-7pm, Sat 8am - 6pm, closed Sun<br><br>
		    </span>
		  </div>
          <h1 class="newsHead">For those of you who don't know, we are a seasonal operation. Our average closing date for the year is around the end of June. (We're always planning for the next season!) This means we keep marking prices down so everything finds a good home! We are out of various different flowers and veggies, but if you're out for a stroll we still have a selection worth checking out.</h1><br><br>
		  <h1 class="newsHead">We are also starting to sell our coveted gallon show/display plants. Finally! </h1>
		  <h1 class="newsHead">Thank you, as always, for supporting independent local businesses. We couldn't do it without our wonderful customers!</h1><br>
		  <h1 class="newsHead">Location:</h1>
		  <div class="newsBody">
			  <span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				  3910 S. Redwood Road<br>
				  Salt Lake City, UT 84123<br>
				  Phone: 801-973-9158<br>
			  </span>
		  </div>
		</div>
	</div>
</div>
