<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Now Growing for Spring 2012!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					We will be open April, May and June 2012<br>
				</span>
			</div>
		</div>
	</div>
</div>