<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead"><img src="/images/tomato.jpg" class="whatsNewImageTest">Now GROWING for the 2013 Season!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					We will be open in April 2013!  Check back for hours and more details.<br><br><br>
				</span>
			</div>
			<h1 class="newsHead">Joy in the Garden (Joy Bossi) Will be Joining Us This Spring!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					Joy Bossi will be joining us this spring as an in-house consultant for your tough gardening questions!  Come take advantage of this amazing resource.  Dates and times for this service to come. Check back for details!<br><br>
					Listen to <a href="http://www.joyinthegarden.com/" target="_blank">Joy in the Garden</a> on KLO radio station on Saturday mornings from 8-9 am on 1430 AM and 103.1 FM starting in March.<br>
					<img src="/images/JoyBossiLogo.jpg" width="175" height="133" class="Joy in the Garden Radio Show"><br><br><br>
				</span>
			</div>
			<h1 class="newsHead">We are growing many NEW and EXCITING varieties of vegetables and flowers this year.</h1>
			 <div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;=""> Here are a few of our NEW unusual or heirloom veggies we are growing for you: (click <a href="ourgoods/new2013.html/" target="_blank">HERE</a> for a more complete list.)
				<ul>
					<li>Thai Long Green Eggplant</li>
					<li>Red Kuri Squash</li>
					<li>Lemon Squash</li>
					<li>Japanese Cream Fleshed Suika (watermelon)</li>
					<li>Carentais Melon</li>
					<li>Romanesco Italia Broccoli</li>
					<li>Sakata's Sweet Melon</li>
					<li>Beit Alpha Cucumber</li>
				</ul><br><br>
			</span>
			</div>
			<h1 class="newsHead">We grow over 700 varieties of flower and vegetable plants!</h1><br>
			<h1 class="newsHead">Location:</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					3910 S. Redwood Road<br>
					Salt Lake City, UT 84123<br>
					Phone: 801-973-9158<br>
				</span>
			</div>
		</div>
	</div>
</div>