<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Welcome to Lambert Floral!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;=""><br>Now growing for the 2010 season!<br>
&nbsp;<br>
Maybe some info about how great the veggies and flowers are. How you have loyal followers that come from who knows where. About how Joy in the Garden sometimes broadcasts from here and has good things to say about it, etc.<br>
&nbsp;<br>
</span>
			</div>
		</div>
	</div>
</div>