<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Sale!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					All flowers and vegetables on sale! Most plants on clearance.<br>
					Flowers - $12/flat (48 plants)<br><br>
					<h1 class="newsHead">Current Hours</h1>
					May and June Hours:<br>
M-F 9-7<br>
Sat 8-6<br>
Closed Sundays<br><br>
</span>
			</div>
		</div>
	</div>
</div>