<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Open April 1st, 2011 (weather permitting).</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;=""><br>Now growing for the 2011 season!<br>
&nbsp;<br>
Open to the public April, May and June.<br><br>
You can start planting vegetables now with wall-o-waters. We will have tomatoes available for you early birds. Call us for more information.
&nbsp;<br>
</span>
			</div>
		</div>
	</div>
</div>