<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Now Growing for Spring 2012!</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					We will be open April, May and June 2012<br><br>
				</span>
			</div>
			<h1 class="newsHead">Location:</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					3910 S. Redwood Road<br>
					Salt Lake City, UT 84123<br>
					Phone: 801-973-9158<br>
				</span>
			</div>
		</div>
	</div>
</div>