<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
          <h1 class="newsHead">Open for the season on Fri March 28.</h1><br>
		  <h1 class="newsHead">Hours</h1>
		  <div class="newsBody">
		    <span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
                  (March) April hours mon-sat 9am - 6pm, closed Sun<br>
                  May and June hours Mon-Fri 9am-7pm, Sat 8am - 6pm, closed Sun<br><br>
		    </span>
		  </div>
          <h1 class="newsHead">We're growing cool weather vegetable plants and flowers that can be put out soon and tomato plants for wall o waters</h1><br><br>
		  <h1 class="newsHead">We are growing many NEW and EXCITING varieties of vegetables and flowers this year.</h1>
		    <div class="newsBody">
			  <span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;=""> Here are a few of our NEW unusual or heirloom veggies we are growing for you: 
                <ul>
                  <li>Thai Long Green Eggplant</li>
                  <li>Red Kuri Squash</li>
                  <li>Lemon Squash</li>
                  <li>Japanese Cream Fleshed Suika (watermelon)</li>
                  <li>Carentais Melon</li>
                  <li>Romanesco Italia Broccoli</li>
                  <li>Sakata's Sweet Melon</li>
                  <li>Beit Alpha Cucumber</li>
                </ul><br><br>
			  </span>
			</div>
			<h1 class="newsHead">We grow over 700 varieties of flower and vegetable plants!</h1><br>
			<h1 class="newsHead">Location:</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					3910 S. Redwood Road<br>
					Salt Lake City, UT 84123<br>
					Phone: 801-973-9158<br>
				</span>
			</div>
		</div>
	</div>
</div>
