<div id="container_home">
	<div id="container_content">
		<div class="newsItem">
			<h1 class="newsHead">Current Hours</h1>
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;=""><br>May and June Hours:<br>
M-F 9-7<br>
Sat 8-6<br>
Closed Sundays<br><br>
It is time to get outside and start digging in the dirt. Stop by to see the healthy plants we have for you to take home.
</span>
			</div>
		</div>
	</div>
</div>