<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1>
					<p>
						<ul>
							<% @cucumbers.each do |cucumber| %>
								<li><%= cucumber.name %></li>
							<% end %>
							<br><br>
							<li>Cucumber, Armenian</li>
							<li>Cucumber, Burpless Gourmet</li>
							<li>Cucumber, Diva</li>
							<li>Cucumber, English Telegraph</li>
							<li>Cucumber, Japanese Long</li>
							<li>Cucumber, Lemon</li>
							<li>Cucumber, Long de Chino</li>
							<li>Cucumber, Mexican Sour Gherkin</li>
							<li>Cucumber, Orient Express</li>
							<li>Cucumber, Painted Serpent</li>
							<li>Cucumber, Parisian Pickling</li>
							<li>Cucumber, Salad Bush</li>
							<li>Cucumber, Sweet Slice</li>
							<li>Cucumber, Sweeter Yet</li>
							<li>Cucumber, Wisconsin</li>
						</ul>
					</p>
			</span>
		</div>
	</div>
</div>