<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					<h1 class="newsHead"><%= @title %></h1>
						<p>
							<ul>
								<li>Anise</li>
								<li>Basil Boxwood</li>
								<li>Basil cinnamon</li>
								<li>Basil Greek</li>
								<li>Basil Green Goddess</li>
								<li>Basil Key Lime</li>
								<li>Basil Lemon Dani</li>
								<li>Basil Licorice</li>
								<li>Basil Purple Ruffle</li>
								<li>Basil Red Ruby</li>
								<li>Basil Siam Queen Thai</li>
								<li>Basil Spicy Globe</li>
								<li>Basil Sweet</li>
								<li>Bayleaf</li>
								<li>Borage</li>
								<li>Burnet</li>
								<li>Candy Mint</li>
								<li>Caraway</li>
								<li>Catnip</li>
								<li>Chamomile German Groundcover (Annual)</li>
								<li>Chervil (mid march)</li>
								<li>Cilantro (Coriander)</li>
								<li>Cilantro Delfino</li>
								<li>Cumin</li>
								<li>Dill  Dukat Pickling</li>
								<li>Dill Fern Leaf</li>
								<li>Fennel Florence</li>
								<li>Fenugreek</li>
								<li>Hyssop</li>
								<li>Lavender English Angustifolia</li>
								<li>Lavender Garden Leader</li>
								<li>Lavender Hidecote Blue</li>
								<li>Lavender Lady</li>
								<li>Lemon Balm</li>
								<li>Lemon Grass East Indian</li>
								<li>Lemon Mint</li>
								<li>Lemon Thyme (ship in)</li>
								<li>Lemon Verbena (ship in)</li>
								<li>Lovage</li>
								<li>Marjoram</li>
								<li>Mint Chocolate</li>
								<li>Oregano, Greek</li>
								<li>Oregano, Italian</li>
								<li>Parsley Plain Italian</li>
								<li>Parsley, Triple Curled</li>
								<li>Penny Royal (bug repel)</li>
								<li>Peppermint</li>
								<li>Pyrethrum</li>
								<li>Rosemary</li>
								<li>Rosemary Creeping Prostrate</li>
								<li>Sage</li>
								<li>Sally Sage (do this or sage)</li>
								<li>Santolina Cotton Lavender</li>
								<li>Spearmint</li>
								<li>Stevia</li>
								<li>Summer Savory</li>
								<li>Tarragon</li>
								<li>Tarragon, French (ship in)</li>
								<li>Thyme Summer (French, Lemon)</li>
								<li>Thyme Winter common</li>
							</ul>
						</p>
				</span>
			</div>
		</div>
	</div>
</div>