<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					<h1 class="newsHead"><%= @title %></h1>
						<p>
							<ul>
								<li>Cantaloupe, Metki(Wh. Serpent Melon)</li>
								<li>Cantaloupe, Orange Flesh</li>
								<li>Cantaloupe, Superstar</li>
								<li>Watermelon, Crimson Sweet</li>
								<li>Watermelon, Sugar Baby Heirloom</li>
								<li>Watermelon, Sweet Baby</li>
								<li>Watermelon, Yellow Doll</li>
							</ul>
						</p>
				</span>
			</div>
		</div>
	</div>
</div>