<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1>
					<p>
						<ul>
							<% @misc_veggies.each do |misc| %>
								<li><%= misc.name %></li>
							<% end %>
							<br><br>
							<li>Artichoke Green Globe</li>
							<li>Broccoli, Coronado Crown</li>
							<li>Brocoverde (Caulibroc) broccoflower</li>
							<li>Brussel Sprouts, Jade Cross E</li>
							<li>Cabbage Oriental, Chinese Blues</li>
							<li>Cabbage Oriental, Pak Choi</li>
							<li>Cabbage, Danish Ball Head</li>
							<li>Cabbage, Copenhagen</li>
							<li>Cabbage, Dutch Flat Late</li>
							<li>Cabbage, Golden Cross</li>
							<li>Cabbage, Red Ace</li>
							<li>Cabbage, Tatsoi Chinese Greens</li>
							<li>Cauliflower, Cheddar</li>
							<li>Cauliflower, Graffiti</li>
							<li>Cauliflower, Snow Crown</li>
							<li>Collards Vates</li>
							<li>Eggplant, Dusky</li>
							<li>Eggplant, Fairytale</li>
							<li>Eggplant, Ghostbuster</li>
							<li>Eggplant, Ichiban</li>
							<li>Eggplant, Kermit</li>
							<li>Eggplant, Ping Tung</li>
							<li>Eggplant, Gretel</li>
							<li>Gourd, Bird's House</li>
							<li>Gourd, Large Mix</li>
							<li>Gourd, Luffa Sponge</li>
							<li>Gourd Mix Small</li>
							<li>Gourd, Turk's Turban</li>								
							<li>Kale, Red Russian</li>
							<li>Kohlrabi Winner</li>
							<li>Leeks, American Flag</li>
							<li>Mustard Mizuna Japanese</li>
							<li>Mustard Southern Giant Curled</li>
							<li>Spinach Melody</li>
							<li>Swiss Chard Bright Lights</li>
							<li>Swiss Chard Lucullus</li>
							<li>Arugula</li>
							<li>Beets, Detroit Dark Red</li>
							<li>Beets, Detroit Golden</li>
							<li>Chives, Chinese</li>
							<li>Chives, Garlic</li>
							<li>Chives, Onion</li>
							<li>Corn, Kandy Korn</li>
							<li>Corn, Serendipity</li>
							<li>Lettuce, Buttercrunch</li>
							<li>Lettuce, Great Lakes</li>
							<li>Lettuce, Red Sails</li>
							<li>Lettuce, Romaine Parris Island</li>
							<li>Lettuce, Salad Bowl Green</li>
							<li>Lettuce, Salad Bowl Red</li>
							<li>Okra, Cajun Delight</li>
							<li>Onion, Candy</li>
							<li>Onion, Green Banner Bunching</li>
							<li>Onion, Red Burgundy</li>
							<li>Onion, Super Star White</li>
							<li>Onion, Walla Walla</li>
							<li>Onion, Utah Yellow Sweet Spanish</li>
							<li>Peas, Mr. Big</li>
							<li>Peas, Oregon Giant </li>
							<li>Peas, Sprint Sugar Snap</li>
							<li>Rhubarb</li>
							<li>Seed Potatoes</li>
						</ul>
					</p>
			</span>
		</div>
	</div>
</div>