<div id="container_contact">
	<div id="container_content">
		<div class="newsItem">
			<div class="newsBody">
				<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
					<h1 class="newsHead"><%= @title %></h1>
						<p>
							<ul>
								<li>Tomato Patio Tasty Cherry</li>
								<li>Tomato Tumbling Tiger</li>
								<li>Tomato Tasty Window Box Roma</li>
								<li>Tomato Basket Boy</li>
								<li>Tomato Valencia Orange</li>
								<li>Tomato Thessaloniki</li>
								<li>Tomatillo Little Lantern</li>
								<li>Tomatillo Grande Rio Verde</li>
								<li>Pepper Italico (Spanish Spice)</li>
								<li>Squash Patio Zuke Tasty Climbing</li>
								<li>Squash Patio Zuchinni Tasty Yellow</li>
								<li>Squash Patio Tasty Pan</li>
								<li>Pumpkin Patio Pot</li>
								<li>Okra Tasty Betty Jo</li>
								<li>Okra Clemson</li>
								<li>Chard Patio Tasty Ruby, Tasty Silver</li>
								<li>Beans Bush Patio Tasty Candy Bean</li>
								<li>Cucumber Patio Tasty Very Kuhl</li>
								<li>Corn Popping Corn Pop Yellow</li>
								<li>Celery Patio Tasty Celeryetta</li>
								<li>Cabbage Copenagen</li>
								<li>Cabbage Gonzales Cabbage</li>
								<li>Minnesota Midget Melon</li>
								<li>Artichoke Imperial Star</li>
								<li>Artichoke Green Globe</li>
								<li>Eggplant Snowy</li>
								<li>Cauliflower ??</li>
								<li>Lettuce Mesclun Blend</li>
								<li>Peas Lincoln</li>
								<li>Tasty Oriental Leaf Mix</li>
								<li>Perilla Tasty Red Suchi</li>
								<li>Basil Key Lime</li>
								<li>Basil Large Leaf Lettuce</li>
								<li>Basil Red Rubin</li>
								<li>Basil Sweet Mammoth</li>
								<li>Basil Lemon Spreading</li>
								<li>Basil Anise</li>
								<li>Cilantro Tasty Ole</li>
								<li>Coriander GL Patio Tasty Fiesta</li>
								<li>Elephant Garlic</li>
								<li>Horseradish</li>
								<li>Chinese Fat Chives</li>
								<li>Cucumber Wisconsin Pickles</li>
								<li>Cucumber Salad Crop (Salad Bush)</li>
								<li>Pumpkin Fairy Tale</li>
							</ul>
						</p>
				</span>
			</div>
		</div>
	</div>
</div>