<div id="container_content">
	<div class="newsItem">
		<div class="newsBody">
			<span style="font-size: 10.5pt;" trebuchet="" ms="" ,="" sans-serif="" ;="">
				<h1 class="newsHead"><%= @title %></h1>
					<p>
						<ul>
							<% @tomatoes.each do |tomato| %>
								<li><%= tomato.name %></li>
							<% end %>
							<br><br>
							<li>Basket Boy</li>
							<li>Beefmaster VFN</li>
							<li>Better Boy VFN</li>
							<li>Bigbeef</li>
							<li>Bush Champion</li>
							<li>Campbell</li>
							<li>Celebrity</li>
							<li>Ch-Juliet Plum Tomato</li>
							<li>Ch-Presto</li>
							<li>Ch-Red Grape</li>
							<li>Ch-Sugary</li>
							<li>Ch-Sun Sugar</li>
							<li>Ch-Sweet 100</li>
							<li>Ch-Yellow Pear</li>
							<li>Champion II</li>
							<li>DX-52 Hamson</li>
							<li>Early Girl</li>
							<li>Early Goliath</li>
							<li>Fourth of July</li>
							<li>Goliath Sunny</li>
							<li>Goliath Heirloom</li>
							<li>Health Kick</li>
							<li>Heartland</li>
							<li>Heat Wave</li>
							<li>Heir- Amish Paste</li>
							<li>Heir- Black Krim</li>
							<li>Heir- Brandy Wine</li>
							<li>Heir-Cherokee Purple</li>
							<li>Heir- FlorAmerica</li>
							<li>Heir- German's Johnson</li>
							<li>Heir- Great White</li>
							<li>Heir- Hillbilly</li>
							<li>Heir- Mortgage Lifter</li>
							<li>Heir- Mr. Stripey</li>
							<li>Heir- Orange Oxheart</li>
							<li>Heir- Pineapple</li>
							<li>Jet Star</li>
							<li>La Roma II Red</li>
							<li>Lemon Boy</li>
							<li>Longkeeper</li>
							<li>Moscow</li>
							<li>Rutger</li>
							<li>Super Fantastic</li>
							<li>Super Steak</li>
							<li>Tomatillo</li>
						</ul>
					</p>
			</span>
		</div>
	</div>
</div>